<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style
        include ../static/style.css
</head>
<body>
    <div class="coantiner">
        <nav>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/demo">Contact</a></li>
        </nav>
    <h1>#{heading}</h1>
    <!-- <p>
       | #{content} 
       This is plain html in pug
    </p> -->
</div>
</body>
</html>