* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  }

.bg-img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-size: cover;
  filter: blur(3px) grayscale(0.4);
  border-radius: 20px;
  position: fixed;
}

ul h1 {
  color: bisque;
  font-weight: bold;
  font-size: 2rem;
  user-select: none;
  margin-right: 40px;
}

#nav ul {
  display: flex;
  list-style: none;
  background-color: #000000;
  border: 2px solid rgb(188, 188, 188);
  padding: 20px;
  justify-content: start;
  align-items: center;
  gap: 30px;
  border-radius: 0px 0px 5px 5px;
}

a:hover {
  color: #c5c3c3;
  text-decoration: underline;
}

li a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.22rem;
  font-weight: 500;
}

#bodyContain {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  height: 80vh;
  padding: 0px 4em;
}

#bodyContain h2 {
  -webkit-text-stroke: 2.5px rgb(143, 138, 1);
  font-size: 8rem;
  line-height: 6.5rem;
  font-weight: bolder;
}

#bodyContain p {
  color: wheat;
  font-size: 18px;
  font-weight: 500;
}

#mission {
  background: #3c3b3f;
  background: -webkit-linear-gradient(to right, #605c3c, #3c3b3f);
  background: linear-gradient(to right, #605c3c, #3c3b3f);
  height: 37vh;
  margin-bottom: 30px;
  border-radius: 20px;
}

#mission h1 {
  color: rgb(106, 62, 8);
  font-size: 2.5rem;
  padding: 10px 4vw;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  position: relative;
  height: 25vh;
  width: 30vw;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  border: 2px solid white;
}

.card:nth-child(1) {
  background: url("../static/mission-1.jpg") no-repeat top center;
  background-size: cover;
}

.card:nth-child(2) {
  background: url("../static/mission-3.avif") no-repeat top center;
  background-size: cover;

  h3 {
    color: rgba(0, 0, 0, 1);
  }

  p {
    color: white;
  }
}

.card:nth-child(3) {
  background: url("../static/mission-2.webp") no-repeat top center;
  background-size: cover;
}

.card h3 {
  font-size: larger;
  margin-bottom: 30px;
  color: #ffd600;
  text-decoration: underline;
}

.card p {
  font-weight: bolder;
  color: rgba(255, 250, 221, 1);
}

#sponsors {  
  height: 30vh;
  margin-bottom: 30px;
  border-radius: 20px;
  position: relative;
  border: 2px solid white;
}

.spon-bg{
  background: url('../static/sponsors-bg.jpg') center center no-repeat;
  background-size: cover;
  height: 30vh;
  position: absolute;
  width: 100%;
  z-index:-1;
  filter: blur(5px);
}


.spon-details{
  height: 30vh;
}

.spon-details h1 {
  color: #ffd197;
  font-size: 2.5rem;
  padding: 10px 4vw;
}

.sponsorsLogo {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  font-size: x-large;
  font-weight: bold;
  padding: 20px 0px;
  position: absolute;
  width: 100%;
}

.sponsorsLogo img {
  width: 100px;
  height: 100px;
  background: right center;
  border-radius: 50%;
}

footer div {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blanchedalmond;
}
