extends base.pug

block scripts
  script(src='/static/index.js')

block style 
  style
    include ../static/style.css

block content
    section#bodyContain
        p Join our Company to teach you
        h2 DANCE

    section#mission
        h1 Our Mission 
        div.cardContainer
          div.card
            h3 Dance Perfection
          div.card
            h3 Dance the way you like
          div.card
            h3 Expert Teacher

    section#sponsors
        h1 Our Sponsors
        ul.sponsorsLogo
          li Logo 1
          li Logo 2
          li Logo 3
          li Logo 4
          li Logo 5 

block foot 
    footer
        div Copyright © 2024 sagee_dance_academy@gmail.com | All right reserved
              
