extends base.pug

block scripts
  script(src='/static/index.js')

block style 
  style
    include ../static/style.css

block content
    section#bodyContain
        p Join our Company to teach you
        h2 DANCE

    section#mission
        h1 Our Mission 
        div.cardContainer
          div.card    
            h3 Dancing Beyond Boundaries
            p We encourage dancers to explore the limitless possibilities of movement, embracing innovation and creativity. Our programs are designed to inspire new ideas and foster a spirit of exploration in every dancer
          div.card
            h3 Dance with Passion, Achieve with Purpose
            p At Sagee Dance Academy, we envision a future where dance is a vital part of everyone's life, fostering joy, creativity, and personal development.
          div.card
            h3 Connecting Hearts Through Dance
            p We focus on the holistic development of our students, nurturing not only their dance skills but also their emotional, social, and intellectual growth.

    section#sponsors
        div.spon-bg
        div.spon-details
          h1 Our Sponsors
          div.sponsorsLogo
            img(src="../static/logo-1.jpeg", alt="logo")
            img(src="../static/logo-2.avif", alt="logo")
            img(src="../static/logo-3.jpg", alt="logo")
            img(src="../static/logo-4.jpeg", alt="logo")

block foot 
    footer
        div Copyright © 2024 sagee_dance_academy@gmail.com | All right reserved
              
