doctype html
html
  head
    title Sagee Dance Academy
    style
      include ../static/style.css
  body
    img(src="../static/dance.jpg", alt="")
    nav#nav
     ul
        li #[a(href='/') Home]
        li #[a(href='/') About]
        li #[a(href='/') Service]
        li #[a(href='/') Class Info]
        li #[a(href='/') Contact us]

    section#bodyContain
        p Join our Company to teach you
        h2 DANCE
    section#mission
        div Our Mission 
          .card-conatiner 
    section#details
        div Academy Details
    footer
        div Academy Fotter
    script
      include ../static/index.js